* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}   

body {
   height: 100vh;
   width: 100%;
   background-image: url(./imagens/cropped-5120-2880-189868.jpg);
   background-position: center;
   background-size: cover;
   display: flex;
}

.Container {
    margin: 2rem; 
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: transparent;
    backdrop-filter: blur(50px);
    border-radius: 50px;
    display: flex;
}

.Painel_1 {
    border-right: solid 3px rgba(0, 0, 0, 0.019);
}

.Informaçoes_clima {
    height: 200px;
    width: 400px;
    color: aliceblue;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    justify-content: end;
    font-weight: 800;
    font-size: 12px;
    text-align: center;   
}

.Naverga_Barra {
    height: 400px;
    width: 300px;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
}

.Naverga_Barra ul {
    height: 400px;
    gap: 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Naverga_Barra li {
    height: 50px;
    width: 180px;
    justify-content: center;
    display: flex;
    align-items: center;    
}

.Naverga_Barra li:hover {
    width: 360px;
    background-color: black;
    opacity: 0.100;
    border-radius: 20px;
}

.Naverga_Barra a {
    font-size: 17px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.Painel_2 {
    width: 100%;
}